$item-color: #eadedb;

form {
  background-color: $item-color;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
  
  label {
    width: 10rem;
    text-align: right;
    padding: 0 1.3rem 1rem;
    display: inline-block;
    vertical-align: top;
  }
  
  input, textarea {
    font-size: 1.2rem;
    border: 1px solid white;
    border-radius: .3rem;
    width: 20rem;
  }
  
  input, textarea {
    &.ng-invalid {
      border: 2px solid red;
    }
    
    &.ng-valid {
      border: 2px solid green;
    }
  }
  
}