$item-color: #dbf0ff;
$list-color: #ede8ff;

.contacts-list {
  background-color: $list-color;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
    
  .contact-search {
    font-size: 1.5rem;
    border-radius: .3rem;
    margin: .3rem;
    border: 1px dotted white;
  }
  
  ul {
    padding: 0;
  }
  
  .contact-search {
    margin-bottom: 1rem;
    padding: .3rem;
  }
  
  .contact-item {
    background-color: $item-color;
    list-style: none;
    border: 2px dotted white;
    border-radius: 10px;
    margin-bottom: .5rem;
    padding: .5rem;
  }
}
